<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FormsUsingServlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <context-param><param-name>message</param-name><param-value>context value register</param-value></context-param>
  
  <servlet>
  <servlet-name>FormsServlets</servlet-name>
  <servlet-class>com.servlets.forms.FormsServlets</servlet-class>
  
  <init-param><param-name>message</param-name><param-value>Registeration1</param-value></init-param>
    <init-param><param-name>message</param-name><param-value>Registeration2</param-value></init-param>
  
    </servlet>
  
  <servlet-mapping>
  <servlet-name>FormsServlets</servlet-name>
  <url-pattern>/register.do</url-pattern>
  
  </servlet-mapping>
  
  <servlet>
  <servlet-name>LoginForms</servlet-name>
  <servlet-class>com.servlets.forms.Loginforms</servlet-class>
    </servlet>
  
  <servlet-mapping>
  <servlet-name>LoginForms</servlet-name>
  <url-pattern>/login.do</url-pattern>
  
  </servlet-mapping>
  <error-page>
  <error-code>500</error-code>
  <location>/error.html</location>
  </error-page>
  
</web-app>